@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/views/auth/**/*.blade.php';
@source '../../resources/views/web/**/*.blade.php';
@source '../../resources/views/components/**/*.blade.php';
@source '../../resources/web/js/**/*.js';

/*
@source '..!**!*.js';
@import "main";

*/

/*'./vendor/laravel/framework/src/Illuminate/Pagination/resources/views!*.blade.php',*/
/*'./storage/framework/views!*.php',*/
/*'./resources/views/auth!**!*.blade.php',*/
/*'./resources/views/web!**!*.blade.php',*/
/*'./resources/views/components!**!*.blade.php',*/

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/*@import '../assets/libs/tobii/css/tobii.min.css';*/
/*@import '../assets/libs/@mdi/font/css/materialdesignicons.min.css';*/
