@import "tailwindcss";
@import "./main.css";

@source '../../resources/views/admin/**/*.blade.php';

@source inline("bg-red-400 bg-purple-400 bg-green-400 border-red-400 border-purple-400 border-green-400");

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
